<?xml version="1.0"?>

<robot name="penta_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="name_space" default="" />
  <xacro:arg name="use_gazebo_simulation" default="False" />
  <xacro:arg name="use_pca9685_ros2_control" default="False" />

  <xacro:include filename="$(find penta_description)/urdf/penta_robot_macro.urdf.xacro" />

  <xacro:add_penta_bot name_space="$(arg name_space)" use_gazebo_simulation="$(arg use_gazebo_simulation)" use_pca9685_ros2_control="$(arg use_pca9685_ros2_control)"/>

  <!-- gazebo ros2_control plugins -->
  <gazebo>
      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
          <topic>joint_states</topic>
      </plugin>

      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find penta_description)/config/ros2_control_params.yaml</parameters>
      </plugin>
  </gazebo>

</robot>
